<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/css/main.css">
</html>
<body>
    <%- include('includes/navigations') %>
    <article>
         <h1>Ooops 404 Error !!!</h1> 
         <h3>Page not found, Please enter correct URL</h3>
    </article>
</body>